.button {
    padding: .3rem .5rem;
    border-radius: 3px;
    background: var(--clr-dark);
    color: var(--clr-light);
    box-shadow: 0px 0px 5px -1px;
    cursor: pointer;

    &:hover {
        background: var(--clr-light);
        color: var(--clr-dark);
    }
}
