.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;

  @media (min-width: 419px) {
    justify-content: space-between;
  }
}

.header__logo {
  padding: 0 1rem;
}

.header__menu-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav {
  background: var(--menu-bg);
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  gap: 1rem;
  font-size: 1rem;
}
