.header {
  display: flex;
  align-items: center;
  // opacity: 0;
  // animation: fade-in 1000ms ease-in forwards;
}

.header__logo {
  margin: 0 0 0 1rem;

  a:hover {
    text-decoration: none;
  }
}

.nav {
  background: var(--menu-bg);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(100%);
  // transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  height: 100%;
  gap: 1rem;
}

/* Button */
.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  right: 1rem;
  z-index: 1000;
  width: 30px;
}

/* Hamburger */
.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* Nav open */
.nav-open .nav {
  transform: translateX(0);
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.controls-wrapper {
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .nav {
    transform: translateX(0);
    height: fit-content;
    background: transparent;
    position: static;
  }

  .nav-ul {
    flex-direction: row;
    font-size: 1rem;
  }

  .nav-toggle {
    display: none;
  }
}
