.hero-section {
    text-align: center;
}

.hero__title {
    padding: 1rem;
    color: #f4511e;
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: 400;
}

.hero__subtitle {
    font-size: 1.75rem;
    color: #f4511e;
}

.hero__text {
    margin-top: 1rem;
}

.hero__img {
    border-radius: 50%;
    background: linear-gradient(180deg, #f4511e, transparent);
}

.hero__img-wrapper {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
}
