.hero-section {
    text-align: center;
}

.hero__title {
    padding: 1rem;
    color: var(--clr-accent);
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: 400;
}

.hero__subtitle {
    font-size: 1.75rem;
}

.hero__text {
    margin-top: 1rem;
}

.hero__img {
    border-radius: 50%;
    background: linear-gradient(45deg, var(--clr-accent), var(--clr-tranparent));
}

.hero__img-wrapper {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
}
