
.project {
    max-width: 400px;
    box-shadow: 1px 2px 6px -2px;
    padding: 1rem .7rem;
    margin: 0 .7rem;
    border-radius: 7px;
    justify-content: space-between;
}

.project__img-wrapper {
    border-radius: 5px;

    img {
        max-height: 200px;
    }
}

.project__title {
    font-size: 1.7rem;
    font-weight: 700;
}
.project__text {
    padding: 1rem 0;
    color: #cacaca;
}
