.projects-wrapper {
  gap: 2rem;
}

.project {
  background: var(--card-bg);
  color: var(--card-clr);
  max-width: 400px;
  padding: 1rem 0.7rem 2rem 0.7rem;
  margin: 1rem 0.7rem;
  border-radius: 7px;
  justify-content: space-between;
}

.project__img-wrapper {
  border-radius: 5px;
}

.project__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--clr-accent);
}

.project__ul {
  display: flex;
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.project__text {
  padding: 1rem 0;
}
