.skills-section__text {
    margin: 0 0 2rem 0;
    padding: .5rem .5rem;

    @media(min-width: 980px) {
        max-width: 70%;
        align-self: center;
    }
     
    @media(min-width: 1400px) {
        max-width: 50%;
    }
     
    @media(min-width: 2000px) {
        max-width: 40%;
    }
    
}

.skills-section-ul {
   padding: 0 1rem;
   gap: 2rem;
   justify-content: center;

    &__li {
        list-style: none;
    }
}