.toggle-switch-wrapper {
  max-width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 18px;
}

.toggle-switch__label {
  font-size: 0.7rem;
}

.toggle-switch__input {
  opacity: 0;
  width: 0;
  height: 0;
  transform: translateY(-3px);
}

.toggle-switch__slider {
  position: absolute;
  border-radius: 1.25em;
  background: var(--clr-grey-3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.toggle-switch__slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background: var(--clr-light);
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input[type="checkbox"]:checked + .toggle-switch__slider {
  background: var(--clr-accent);
}

input[type="checkbox"]:checked + .toggle-switch__slider::before {
  transform: translate(22px);
}

input[type="checkbox"]:focus-visible + .toggle-switch__slider {
  outline: dashed 3px #ff471a;
  outline-offset: 5px;
}
