body.light {
    background: #f5f5f5;
    color: #505050;
}

.button.light {
    background: initial;
    color: initial;

    &:hover {
        background: #212121;
        color: #f5f5f5;
    }
}

p.light { color: #363636; }

.gradient {
    background: -webkit-linear-gradient(65deg,rebeccapurple, #7f6599, lightblue, #7f6599, rebeccapurple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site__title {
    font-size: 2rem;
    position: relative;
}

.site__title::before, 
.site__title::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 80px;
    z-index: -1;
    top: 40%;
    border-radius: 2px;
}

.site__title::before { 
    transform: translateX(-89px);
    background: linear-gradient(-90deg, #7f6599, transparent);
}

.site__title::after { 
    transform: translateX(10px);
    background: linear-gradient(90deg, #7f6599, transparent);
}