body.light {
    background: var(--clr-light);
    color: var(--clr-grey-3);
}

.button.light {
    background: initial;
    color: initial;

    &:hover {
        background: var(--clr-dark);
        color: var(--clr-light);
    }
}

p.light { 
    color: var(--clr-grey-4);
}

.gradient {
    background: -webkit-linear-gradient(65deg, var(--clr-accent-dark), var(--clr-accent), var(--clr-accent-light), var(--clr-accent), var(--clr-accent-dark));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site__title {
    font-size: 2rem;
    position: relative;
}

.site__title::before, 
.site__title::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 80px;
    z-index: -1;
    top: 40%;
    border-radius: 2px;
}

.site__title::before { 
    transform: translateX(-89px);
    background: linear-gradient(-90deg, var(--clr-accent), var(--clr-transparent));
}

.site__title::after { 
    transform: translateX(10px);
    background: linear-gradient(90deg, var(--clr-accent), var(--clr-transparent));
}